In [26]:
import pandas as pd
import numpy as np
import os 

#import CSV
graduate_csv = "graduate_earnings_all.csv"

graduate_df = pd.read_csv(graduate_csv)

In [5]:
graduate_df.head()

,institution_id,institution_name,deglevl_code,deglevl,degcip_4dig,ciptitle,grad_cohort,grad_cohort_label,year_postgrad,p25_earnings,p50_earnings,p75_earnings,cellcount,cell_suppressed,state,system,first_release,last_update,cpi_reportyear
0,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,1,NaN,NaN,NaN,NaN,1,CO,cdhe,8242018,8242018,2016
1,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,5,23108.0,34633.0,50141.0,73.0,0,CO,cdhe,8242018,8242018,2016
2,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,10,31990.0,41565.0,68312.0,65.0,0,CO,cdhe,8242018,8242018,2016
3,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,1,17794.0,25774.0,32213.0,46.0,0,CO,cdhe,8242018,8242018,2016
4,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,5,27763.0,36398.0,51928.0,79.0,0,CO,cdhe,8242018,8242018,2016

In [6]:
graduate_df.shape

(19958, 19)

In [7]:
#Create new DF with columns needed for analysis
reduced_graduate_df = graduate_df.loc[:, ["institution_name", "deglevl", "ciptitle","grad_cohort", "grad_cohort_label", "year_postgrad", "p25_earnings", "p50_earnings", "p75_earnings", "state"]]
reduced_graduate_df.head()

,institution_name,deglevl,ciptitle,grad_cohort,grad_cohort_label,year_postgrad,p25_earnings,p50_earnings,p75_earnings,state
0,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,1,NaN,NaN,NaN,CO
1,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,5,23108.0,34633.0,50141.0,CO
2,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,10,31990.0,41565.0,68312.0,CO
3,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,1,17794.0,25774.0,32213.0,CO
4,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,5,27763.0,36398.0,51928.0,CO

In [8]:
#Remove null values
reduced_graduate_df = reduced_graduate_df.loc[(reduced_graduate_df["p25_earnings"] > 0)]
reduced_graduate_df.head(50)

,institution_name,deglevl,ciptitle,grad_cohort,grad_cohort_label,year_postgrad,p25_earnings,p50_earnings,p75_earnings,state
1,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,5,23108.0,34633.0,50141.0,CO
2,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,10,31990.0,41565.0,68312.0,CO
3,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,1,17794.0,25774.0,32213.0,CO
4,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,5,27763.0,36398.0,51928.0,CO
5,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,10,31012.0,43798.0,64121.0,CO
6,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2006,2006-2010,1,15288.0,22094.0,31857.0,CO
7,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2006,2006-2010,5,22329.0,31236.0,44914.0,CO
8,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2011,2011-2015,1,14923.0,20225.0,26616.0,CO
9,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2004,2004-2006,10,201545.0,319269.0,466933.0,TX
10,UNIV OF TEXAS SOUTHWESTERN MED CTR,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,176838.0,268316.0,441456.0,TX
11,UT HEALTH CENTER-SAN ANTONIO,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,174649.0,262250.0,438311.0,TX
12,UNIV OF TEXAS HEALTH SCIENCE CENTER,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,180018.0,260641.0,436473.0,TX
13,UNIV OF TEXAS MEDICAL BRANCH,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,158116.0,252560.0,429026.0,TX
14,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2001,2001-2003,10,167417.0,251390.0,426799.0,TX
15,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,2004,2004-2006,10,166798.0,240921.0,394521.0,CO
16,UNIVERSITY OF COLORADO DENVER,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,165766.0,239801.0,400809.0,CO
17,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,2001,2001-2003,10,142581.0,238227.0,404302.0,CO
18,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,1998,1998-2000,10,148663.0,212089.0,312778.0,CO
19,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2007,2007-2009,5,142964.0,182940.0,232783.0,TX
20,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2004,2004-2006,5,146581.0,182280.0,232915.0,TX
21,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,2004,2004-2006,5,142765.0,180976.0,229220.0,CO
22,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2011,2011-2015,1,140259.0,172991.0,210514.0,TX
23,UNIV OF TEXAS HEALTH SCIENCE CENTER,Doctoral - Professional Practice,MEDICINE,2006,2006-2010,5,100602.0,172506.0,245315.0,TX
24,UNIV OF TEXAS HEALTH SCIENCE CENTER,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,5,102814.0,170835.0,243670.0,TX
25,UNIV OF TEXAS MEDICAL BRANCH,Doctoral - Professional Practice,MEDICINE,2006,2006-2010,5,93773.0,169973.0,247327.0,TX
26,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2006,2006-2010,5,122038.0,167939.0,213208.0,TX
27,UT HEALTH CENTER-SAN ANTONIO,Doctoral - Professional Practice,DENTISTRY,2001,2001-2005,10,87499.0,166683.0,245848.0,TX
28,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,"BUSINESS/COMMERCE, GENERAL",2001,2001-2003,10,105529.0,162153.0,258860.0,TX
29,UNIVERSITY OF TEXAS-AUSTIN,Masters,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2001,2001-2005,10,109505.0,160558.0,241148.0,TX
30,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,"BUSINESS/COMMERCE, GENERAL",2004,2004-2006,10,109262.0,160481.0,309526.0,TX
31,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,2007,2007-2009,5,121098.0,159813.0,217057.0,CO
32,UT HEALTH CENTER-SAN ANTONIO,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,5,91129.0,159304.0,240135.0,TX
33,UNIVERSITY OF TEXAS-AUSTIN,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2001,2001-2005,10,115339.0,158779.0,224205.0,TX
34,UNIVERSITY OF TEXAS AT DALLAS,Doctoral - Research/Scholarship,ENGINEERING,2001,2001-2005,10,101964.0,157509.0,223678.0,TX
35,UNIV OF TEXAS SOUTHWESTERN MED CTR,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,5,84002.0,157339.0,234897.0,TX
36,UT HEALTH CENTER-SAN ANTONIO,Doctoral - Professional Practice,MEDICINE,2006,2006-2010,5,84284.0,154318.0,230366.0,TX
37,COLORADO SCHOOL OF MINES,Masters,PHYSICAL SCIENCES,2001,2001-2005,10,80669.0,154192.0,278981.0,CO
38,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2001,2001-2005,10,113850.0,153890.0,202922.0,TX
39,UNIV OF TEXAS MEDICAL BRANCH,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,5,88991.0,153794.0,222754.0,TX
40,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2006,2006-2010,1,112151.0,153426.0,200169.0,TX
41,UT HEALTH CENTER-SAN ANTONIO,Doctoral - Research/Scholarship,PHYSICAL SCIENCES,2006,2006-2010,5,71530.0,153086.0,188472.0,TX
42,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2011,2011-2015,1,102409.0,149547.0,215577.0,TX
43,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2006,2006-2010,5,121351.0,149017.0,234763.0,TX
44,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2001,2001-2003,5,114098.0,148663.0,198793.0,TX
45,UNIV OF TEXAS SOUTHWESTERN MED CTR,Doctoral - Professional Practice,MEDICINE,2006,2006-2010,5,86967.0,148012.0,225647.0,TX
46,UNIVERSITY OF TEXAS-AUSTIN,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2006,2006-2010,5,110353.0,147925.0,203874.0,TX
47,COLORADO STATE UNIVERSITY,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,1996,1996-2000,10,122038.0,146893.0,184757.0,CO
48,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2001,2001-2005,10,106421.0,146893.0,196729.0,TX
49,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Professional Practice,LAW,2006,2006-2010,1,75721.0,146846.0,193252.0,TX
50,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Professional Practice,LAW,2006,2006-2010,5,82798.0,146637.0,230267.0,TX

In [9]:
#Check for null values
reduced_graduate_df.isnull().any()

institution_name     False
deglevl              False
ciptitle             False
grad_cohort          False
grad_cohort_label    False
year_postgrad        False
p25_earnings         False
p50_earnings         False
p75_earnings         False
state                False
dtype: bool

In [10]:
#Rename columns
clean_df = reduced_graduate_df.rename(index=str, columns={"institution_name": "College/University", "deglevl": "Degree", "ciptitle": "Program", "grad_cohort": "Cohort", "year_postgrad": "Years Post Grad", "p25_earnings": "25th Percentile Earnings", "p50_earnings": "50th Percentile Earnings", "p75_earnings": "75th Percentile Earnings", "state": "State"})

In [12]:
#Add Average Earnings column to simplify earnings analysis
clean_df['Average Earnings'] = clean_df[["25th Percentile Earnings", "50th Percentile Earnings", "75th Percentile Earnings"]].apply(np.mean, axis=1)
clean_df.loc[:,"Average Earnings"] = clean_df["Average Earnings"].astype(float).map("${:,.2f}".format)
clean_df.head()


#Final clean DF
new_clean_df = clean_df.loc[:, ["State", "College/University", "Program", "Degree", "Cohort", "Years Post Grad", "Average Earnings"]]
new_clean_df

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
1,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,1996,5,"$35,960.67"
2,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,1996,10,"$47,289.00"
3,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2001,1,"$25,260.33"
4,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2001,5,"$38,696.33"
5,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2001,10,"$46,310.33"
6,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2006,1,"$23,079.67"
7,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2006,5,"$32,826.33"
8,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2011,1,"$20,588.00"
9,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$329,249.00"
10,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,MEDICINE,Doctoral - Professional Practice,2001,10,"$295,536.67"
11,TX,UT HEALTH CENTER-SAN ANTONIO,MEDICINE,Doctoral - Professional Practice,2001,10,"$291,736.67"
12,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,MEDICINE,Doctoral - Professional Practice,2001,10,"$292,377.33"
13,TX,UNIV OF TEXAS MEDICAL BRANCH,MEDICINE,Doctoral - Professional Practice,2001,10,"$279,900.67"
14,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$281,868.67"
15,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$267,413.33"
16,CO,UNIVERSITY OF COLORADO DENVER,MEDICINE,Doctoral - Professional Practice,2001,10,"$268,792.00"
17,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$261,703.33"
18,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,1998,10,"$224,510.00"
19,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2007,5,"$186,229.00"
20,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,5,"$187,258.67"
21,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2004,5,"$184,320.33"
22,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Doctoral - Research/Scholarship,2011,1,"$174,588.00"
23,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,MEDICINE,Doctoral - Professional Practice,2006,5,"$172,807.67"
24,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,MEDICINE,Doctoral - Professional Practice,2001,5,"$172,439.67"
25,TX,UNIV OF TEXAS MEDICAL BRANCH,MEDICINE,Doctoral - Professional Practice,2006,5,"$170,357.67"
26,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Doctoral - Research/Scholarship,2006,5,"$167,728.33"
27,TX,UT HEALTH CENTER-SAN ANTONIO,DENTISTRY,Doctoral - Professional Practice,2001,10,"$166,676.67"
28,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2001,10,"$175,514.00"
29,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Masters,2001,10,"$170,403.67"
30,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2004,10,"$193,089.67"
...,...,...,...,...,...,...,...
19472,CO,COMMUNITY COLLEGE OF AURORA,"SCIENCE TECHNOLOGIES/TECHNICIANS, OTHER",Associates,2001,1,"$36,866.33"
19473,CO,COMMUNITY COLLEGE OF AURORA,"SCIENCE TECHNOLOGIES/TECHNICIANS, OTHER",Associates,2001,5,"$43,067.00"
19474,CO,COMMUNITY COLLEGE OF AURORA,"SCIENCE TECHNOLOGIES/TECHNICIANS, OTHER",Associates,2001,10,"$50,279.33"
19475,CO,COMMUNITY COLLEGE OF AURORA,"SCIENCE TECHNOLOGIES/TECHNICIANS, OTHER",Associates,2006,1,"$37,208.33"
19476,CO,COMMUNITY COLLEGE OF AURORA,"SCIENCE TECHNOLOGIES/TECHNICIANS, OTHER",Associates,2006,5,"$45,549.67"
19477,CO,COMMUNITY COLLEGE OF AURORA,"SCIENCE TECHNOLOGIES/TECHNICIANS, OTHER",Associates,2011,1,"$35,322.67"
19479,CO,COMMUNITY COLLEGE OF AURORA,CRIMINAL JUSTICE AND CORRECTIONS,Associates,1996,5,"$52,041.33"
19480,CO,COMMUNITY COLLEGE OF AURORA,CRIMINAL JUSTICE AND CORRECTIONS,Associates,1996,10,"$49,245.33"
19481,CO,COMMUNITY COLLEGE OF AURORA,CRIMINAL JUSTICE AND CORRECTIONS,Associates,2001,1,"$50,270.67"
19482,CO,COMMUNITY COLLEGE OF AURORA,CRIMINAL JUSTICE AND CORRECTIONS,Associates,2001,5,"$42,762.67"
19486,CO,COMMUNITY COLLEGE OF AURORA,CRIMINAL JUSTICE AND CORRECTIONS,Associates,2011,1,"$45,646.33"
19497,CO,COMMUNITY COLLEGE OF AURORA,HEAVY/INDUSTRIAL EQUIPMENT MAINTENANCE TECHNOL...,Associates,2001,5,"$54,689.33"
19499,CO,COMMUNITY COLLEGE OF AURORA,HEAVY/INDUSTRIAL EQUIPMENT MAINTENANCE TECHNOL...,Associates,2006,1,"$38,303.33"
19500,CO,COMMUNITY COLLEGE OF AURORA,HEAVY/INDUSTRIAL EQUIPMENT MAINTENANCE TECHNOL...,Associates,2006,5,"$51,452.67"
19513,CO,COMMUNITY COLLEGE OF AURORA,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Associates,1996,5,"$52,834.00"
19514,CO,COMMUNITY COLLEGE OF AURORA,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Associates,1996,10,"$49,133.00"
19515,CO,COMMUNITY COLLEGE OF AURORA,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Associates,2001,1,"$41,370.00"
19516,CO,COMMUNITY COLLEGE OF AURORA,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Associates,2001,5,"$42,139.00"
19517,CO,COMMUNITY COLLEGE OF AURORA,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Associates,2001,10,"$48,683.00"
19518,CO,COMMUNITY COLLEGE OF AURORA,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Associates,2006,1,"$42,963.33"
19519,CO,COMMUNITY COLLEGE OF AURORA,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Associates,2006,5,"$49,422.33"
19520,CO,COMMUNITY COLLEGE OF AURORA,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Associates,2011,1,"$42,867.00"
19524,CO,COMMUNITY COLLEGE OF AURORA,ACCOUNTING AND RELATED SERVICES,Associates,2001,1,"$38,460.67"
19525,CO,COMMUNITY COLLEGE OF AURORA,ACCOUNTING AND RELATED SERVICES,Associates,2001,5,"$41,588.00"
19526,CO,COMMUNITY COLLEGE OF AURORA,ACCOUNTING AND RELATED SERVICES,Associates,2001,10,"$45,924.67"
19527,CO,COMMUNITY COLLEGE OF AURORA,ACCOUNTING AND RELATED SERVICES,Associates,2006,1,"$45,509.67"
19533,CO,COMMUNITY COLLEGE OF AURORA,MANAGEMENT INFORMATION SYSTEMS AND SERVICES,Associates,2001,1,"$42,217.00"
19534,CO,COMMUNITY COLLEGE OF AURORA,MANAGEMENT INFORMATION SYSTEMS AND SERVICES,Associates,2001,5,"$47,986.00"
19535,CO,COMMUNITY COLLEGE OF AURORA,MANAGEMENT INFORMATION SYSTEMS AND SERVICES,Associates,2001,10,"$56,709.67"
19537,CO,COMMUNITY COLLEGE OF AURORA,MANAGEMENT INFORMATION SYSTEMS AND SERVICES,Associates,2006,5,"$48,867.67"

In [13]:
#We are only analyzing the data for Bachelor, Masters, and Doctorates degrees
#Filtered by Bachelors
bachelor_df = new_clean_df.loc[(new_clean_df["Degree"]=="Baccalaureate")]
bachelor_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
9,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$329,249.00"
14,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$281,868.67"
15,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$267,413.33"
17,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$261,703.33"
18,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,1998,10,"$224,510.00"
19,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2007,5,"$186,229.00"

In [14]:
#Highest Average Earnings Bachelor Degrees in TX
tx_bachelor_df = bachelor_df.loc[(new_clean_df["State"]=="TX")]
tx_bachelor_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
9,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$329,249.00"
14,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$281,868.67"
19,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2007,5,"$186,229.00"
20,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,5,"$187,258.67"
28,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2001,10,"$175,514.00"
30,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2004,10,"$193,089.67"

In [15]:
#Highest Average Earnings Bachelor Degrees in CO
co_bachelor_df = bachelor_df.loc[(new_clean_df["State"]=="CO")]
co_bachelor_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
15,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$267,413.33"
17,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$261,703.33"
18,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,1998,10,"$224,510.00"
21,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2004,5,"$184,320.33"
31,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2007,5,"$165,989.33"
58,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2001,5,"$149,085.67"

In [16]:
#Filtered by Masters
masters_df = new_clean_df.loc[(new_clean_df["Degree"]=="Masters")]
masters_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
29,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Masters,2001,10,"$170,403.67"
33,TX,UNIVERSITY OF TEXAS-AUSTIN,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,2001,10,"$166,107.67"
37,CO,COLORADO SCHOOL OF MINES,PHYSICAL SCIENCES,Masters,2001,10,"$171,280.67"
46,TX,UNIVERSITY OF TEXAS-AUSTIN,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,2006,5,"$154,050.67"
47,CO,COLORADO STATE UNIVERSITY,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,1996,10,"$151,229.33"
63,CO,COLORADO SCHOOL OF MINES,SOCIAL SCIENCES,Masters,2001,10,"$141,780.33"

In [17]:
#Highest Average Earnings Masters Degrees in TX
tx_masters_df = masters_df.loc[(new_clean_df["State"]=="TX")]
tx_masters_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
29,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Masters,2001,10,"$170,403.67"
33,TX,UNIVERSITY OF TEXAS-AUSTIN,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,2001,10,"$166,107.67"
46,TX,UNIVERSITY OF TEXAS-AUSTIN,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,2006,5,"$154,050.67"
66,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Masters,2006,5,"$141,895.00"
72,TX,UNIVERSITY OF TEXAS-AUSTIN,ENGINEERING,Masters,2001,10,"$138,439.67"
78,TX,UNIVERSITY OF TEXAS AT DALLAS,ENGINEERING,Masters,2001,10,"$132,653.00"

In [18]:
#Highest Average Earnings Masters Degrees in CO
co_masters_df = masters_df.loc[(new_clean_df["State"]=="CO")]
co_masters_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
37,CO,COLORADO SCHOOL OF MINES,PHYSICAL SCIENCES,Masters,2001,10,"$171,280.67"
47,CO,COLORADO STATE UNIVERSITY,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,1996,10,"$151,229.33"
63,CO,COLORADO SCHOOL OF MINES,SOCIAL SCIENCES,Masters,2001,10,"$141,780.33"
64,CO,UNIVERSITY OF COLORADO DENVER,HEALTH PROFESSIONS AND RELATED PROGRAMS,Masters,1996,10,"$149,856.00"
68,CO,COLORADO SCHOOL OF MINES,PHYSICAL SCIENCES,Masters,1996,10,"$138,754.00"
79,CO,UNIVERSITY OF COLORADO-BOULDER,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,2001,10,"$137,432.67"

In [19]:
#Filtered by Doctoral Degrees
doctoral_df = new_clean_df.loc[(new_clean_df["Degree"].str.contains("Doctoral"))]
doctoral_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
10,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,MEDICINE,Doctoral - Professional Practice,2001,10,"$295,536.67"
11,TX,UT HEALTH CENTER-SAN ANTONIO,MEDICINE,Doctoral - Professional Practice,2001,10,"$291,736.67"
12,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,MEDICINE,Doctoral - Professional Practice,2001,10,"$292,377.33"
13,TX,UNIV OF TEXAS MEDICAL BRANCH,MEDICINE,Doctoral - Professional Practice,2001,10,"$279,900.67"
16,CO,UNIVERSITY OF COLORADO DENVER,MEDICINE,Doctoral - Professional Practice,2001,10,"$268,792.00"
22,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Doctoral - Research/Scholarship,2011,1,"$174,588.00"

In [20]:
#Highest Average Earnings Doctoral Degrees in TX
tx_doctoral_df = doctoral_df.loc[(new_clean_df["State"]=="TX")]
tx_doctoral_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
10,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,MEDICINE,Doctoral - Professional Practice,2001,10,"$295,536.67"
11,TX,UT HEALTH CENTER-SAN ANTONIO,MEDICINE,Doctoral - Professional Practice,2001,10,"$291,736.67"
12,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,MEDICINE,Doctoral - Professional Practice,2001,10,"$292,377.33"
13,TX,UNIV OF TEXAS MEDICAL BRANCH,MEDICINE,Doctoral - Professional Practice,2001,10,"$279,900.67"
22,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Doctoral - Research/Scholarship,2011,1,"$174,588.00"
23,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,MEDICINE,Doctoral - Professional Practice,2006,5,"$172,807.67"

In [21]:
#Highest Average Earnings Doctoral Degrees in CO
co_doctoral_df = doctoral_df.loc[(new_clean_df["State"]=="CO")]
co_doctoral_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
16,CO,UNIVERSITY OF COLORADO DENVER,MEDICINE,Doctoral - Professional Practice,2001,10,"$268,792.00"
51,CO,UNIVERSITY OF COLORADO-BOULDER,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Doctoral - Research/Scholarship,2001,10,"$153,036.33"
56,CO,UNIVERSITY OF COLORADO DENVER,MEDICINE,Doctoral - Professional Practice,2006,5,"$143,945.67"
61,CO,UNIVERSITY OF COLORADO-BOULDER,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Doctoral - Research/Scholarship,2006,5,"$152,863.00"
62,CO,UNIVERSITY OF COLORADO-BOULDER,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Doctoral - Research/Scholarship,2006,5,"$141,572.33"
65,CO,UNIVERSITY OF COLORADO DENVER,DENTISTRY,Doctoral - Professional Practice,2001,10,"$146,107.00"

In [22]:
grouped_bachelors_tx = tx_bachelor_df.groupby(['College/University'])
grouped_bachelors_tx.head()

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
9,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$329,249.00"
14,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$281,868.67"
19,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2007,5,"$186,229.00"
20,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,5,"$187,258.67"
28,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2001,10,"$175,514.00"
97,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2004,10,"$122,222.67"
118,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2004,5,"$123,033.33"
122,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,10,"$122,593.67"
160,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2007,5,"$112,724.33"
176,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,5,"$110,933.67"
254,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,5,"$102,266.67"
263,TX,UNIV OF TEXAS MEDICAL BRANCH,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,10,"$101,505.67"
940,TX,UNIVERSITY OF TEXAS-ARLINGTON,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$101,645.33"
946,TX,UNIVERSITY OF TEXAS-EL PASO,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$104,091.00"
948,TX,UNIVERSITY OF TEXAS-ARLINGTON,MECHANICAL ENGINEERING,Baccalaureate,2004,10,"$107,442.33"
967,TX,UNIVERSITY OF TEXAS-ARLINGTON,COMPUTER ENGINEERING,Baccalaureate,2004,10,"$100,644.33"
968,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,10,"$106,663.00"
979,TX,UNIVERSITY OF TEXAS AT DALLAS,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$103,569.67"
983,TX,UNIVERSITY OF TEXAS-EL PASO,MECHANICAL ENGINEERING,Baccalaureate,2004,10,"$101,611.33"
987,TX,UNIVERSITY OF TEXAS AT DALLAS,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2004,10,"$102,792.67"
1002,TX,UNIVERSITY OF TEXAS-ARLINGTON,COMPUTER ENGINEERING,Baccalaureate,2001,10,"$98,988.33"
1005,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$97,918.33"
1037,TX,UNIVERSITY OF TEXAS-ARLINGTON,MECHANICAL ENGINEERING,Baccalaureate,2001,10,"$99,197.00"
1060,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"COMPUTER AND INFORMATION SCIENCES, GENERAL",Baccalaureate,2004,10,"$97,651.33"
1064,TX,UNIV OF TEXAS MEDICAL BRANCH,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,5,"$94,372.33"
1070,TX,UT HEALTH CENTER-SAN ANTONIO,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2004,10,"$96,465.00"
1071,TX,UNIVERSITY OF TEXAS - BROWNSVILLE,"REGISTERED NURSING, NURSING ADMINISTRATION, NU...",Baccalaureate,2001,5,"$96,880.67"
1096,TX,UNIVERSITY OF TEXAS - BROWNSVILLE,"REGISTERED NURSING, NURSING ADMINISTRATION, NU...",Baccalaureate,2004,1,"$95,656.33"
1108,TX,UNIVERSITY OF TEXAS AT DALLAS,"COMPUTER AND INFORMATION SCIENCES, GENERAL",Baccalaureate,2001,10,"$92,389.33"
1111,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,MECHANICAL ENGINEERING,Baccalaureate,2004,10,"$93,504.67"
...,...,...,...,...,...,...,...
1209,TX,UNIV OF TEXAS MEDICAL BRANCH,"REGISTERED NURSING, NURSING ADMINISTRATION, NU...",Baccalaureate,2001,10,"$89,263.00"
1223,TX,UNIVERSITY OF TEXAS AT TYLER,MECHANICAL ENGINEERING,Baccalaureate,2007,5,"$88,612.67"
1226,TX,UNIVERSITY OF TEXAS-EL PASO,"COMPUTER AND INFORMATION SCIENCES, GENERAL",Baccalaureate,2001,10,"$88,053.67"
1249,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,"REGISTERED NURSING, NURSING ADMINISTRATION, NU...",Baccalaureate,2001,10,"$89,409.67"
1268,TX,UNIV OF TEXAS MEDICAL BRANCH,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,1,"$84,976.67"
1309,TX,UT HEALTH CENTER-SAN ANTONIO,HEALTH PROFESSIONS AND RELATED CLINICAL SCIENC...,Baccalaureate,2001,10,"$79,575.00"
1311,TX,UNIVERSITY OF TEXAS AT TYLER,INDUSTRIAL PRODUCTION TECHNOLOGIES/TECHNICIANS,Baccalaureate,2001,10,"$87,026.00"
1319,TX,UT HEALTH CENTER-SAN ANTONIO,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2004,5,"$85,978.33"
1350,TX,UNIVERSITY OF TEXAS - BROWNSVILLE,"REGISTERED NURSING, NURSING ADMINISTRATION, NU...",Baccalaureate,2001,1,"$87,073.67"
1351,TX,UNIV OF TX MD ANDERSON CANCER CTR,PUBLIC HEALTH,Baccalaureate,2010,1,"$82,650.67"
1357,TX,UNIVERSITY OF TEXAS-PERMIAN BASIN,MECHANICAL ENGINEERING,Baccalaureate,2013,1,"$84,943.67"
1359,TX,UNIVERSITY OF TEXAS - BROWNSVILLE,"REGISTERED NURSING, NURSING ADMINISTRATION, NU...",Baccalaureate,2007,5,"$83,704.67"
1362,TX,UT HEALTH CENTER-SAN ANTONIO,HEALTH PROFESSIONS AND RELATED PROGRAMS,Baccalaureate,2007,5,"$82,410.33"
1386,TX,UNIVERSITY OF TEXAS - BROWNSVILLE,"REGISTERED NURSING, NURSING ADMINISTRATION, NU...",Baccalaureate,2001,10,"$84,388.00"
1420,TX,UNIV OF TX MD ANDERSON CANCER CTR,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2007,5,"$79,107.33"
1422,TX,UNIVERSITY OF TEXAS AT TYLER,FINANCE AND FINANCIAL MANAGEMENT SERVICES,Baccalaureate,2004,10,"$84,406.67"
1455,TX,UT HEALTH CENTER-SAN ANTONIO,"REGISTERED NURSING, NURSING ADMINISTRATION, NU...",Baccalaureate,2001,10,"$80,657.67"
1464,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,HEALTH AND MEDICAL ADMINISTRATIVE SERVICES,Baccalaureate,2001,1,"$79,836.00"
1481,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,"REGISTERED NURSING, NURSING ADMINISTRATION, NU...",Baccalaureate,2001,5,"$80,363.00"
1514,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,"REGISTERED NURSING, NURSING ADMINISTRATION, NU...",Baccalaureate,2004,5,"$78,504.00"
1530,TX,UNIVERSITY OF TEXAS-PERMIAN BASIN,"COMPUTER AND INFORMATION SCIENCES, GENERAL",Baccalaureate,2004,10,"$78,795.67"
1559,TX,UNIVERSITY OF TEXAS AT TYLER,"COMPUTER AND INFORMATION SCIENCES, GENERAL",Baccalaureate,2001,10,"$78,454.33"
1560,TX,UNIVERSITY OF TEXAS-PERMIAN BASIN,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2001,10,"$80,309.33"
1586,TX,UNIVERSITY OF TEXAS AT TYLER,FINANCE AND FINANCIAL MANAGEMENT SERVICES,Baccalaureate,2001,10,"$87,860.00"
1617,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,"REGISTERED NURSING, NURSING ADMINISTRATION, NU...",Baccalaureate,2007,5,"$77,651.33"
1708,TX,UNIVERSITY OF TEXAS-PERMIAN BASIN,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Baccalaureate,2001,10,"$80,102.00"
1834,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,HEALTH AND MEDICAL ADMINISTRATIVE SERVICES,Baccalaureate,2001,5,"$75,014.00"
2255,TX,UNIV OF TX MD ANDERSON CANCER CTR,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2007,1,"$67,998.00"
2340,TX,UNIV OF TX MD ANDERSON CANCER CTR,CLINICAL/MEDICAL LABORATORY SCIENCE/RESEARCH A...,Baccalaureate,2004,5,"$66,091.33"
2380,TX,UNIV OF TX MD ANDERSON CANCER CTR,CLINICAL/MEDICAL LABORATORY SCIENCE/RESEARCH A...,Baccalaureate,2007,5,"$64,508.00"

In [23]:
#Highest Average Earnings Bachelor Degrees in TX
tx_bachelor_df = bachelor_df.loc[(new_clean_df["State"]=="TX")]
tx_bachelor_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
9,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$329,249.00"
14,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$281,868.67"
19,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2007,5,"$186,229.00"
20,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,5,"$187,258.67"
28,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2001,10,"$175,514.00"
30,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2004,10,"$193,089.67"

In [57]:
tx_bachelor2_df = tx_bachelor_df.sort_values("Average Earnings", ascending=False)
tx_bachelor2_df

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
1037,TX,UNIVERSITY OF TEXAS-ARLINGTON,MECHANICAL ENGINEERING,Baccalaureate,2001,10,"$99,197.00"
1033,TX,UNIVERSITY OF TEXAS-AUSTIN,"COMPUTER AND INFORMATION SCIENCES, GENERAL",Baccalaureate,2007,5,"$99,023.00"
1002,TX,UNIVERSITY OF TEXAS-ARLINGTON,COMPUTER ENGINEERING,Baccalaureate,2001,10,"$98,988.33"
1143,TX,UNIVERSITY OF TEXAS AT DALLAS,"BIOLOGY, GENERAL",Baccalaureate,2001,10,"$98,758.33"
1703,TX,UNIVERSITY OF TEXAS-AUSTIN,MICROBIOLOGICAL SCIENCES AND IMMUNOLOGY,Baccalaureate,2004,10,"$98,428.33"
1005,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$97,918.33"
1060,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"COMPUTER AND INFORMATION SCIENCES, GENERAL",Baccalaureate,2004,10,"$97,651.33"
1120,TX,UNIVERSITY OF TEXAS-AUSTIN,MARKETING,Baccalaureate,2004,10,"$97,239.67"
1047,TX,UNIVERSITY OF TEXAS-ARLINGTON,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2004,10,"$97,096.00"
1061,TX,UNIVERSITY OF TEXAS-AUSTIN,MANAGEMENT INFORMATION SYSTEMS AND SERVICES,Baccalaureate,2007,5,"$97,048.33"
1071,TX,UNIVERSITY OF TEXAS - BROWNSVILLE,"REGISTERED NURSING, NURSING ADMINISTRATION, NU...",Baccalaureate,2001,5,"$96,880.67"
1051,TX,UNIVERSITY OF TEXAS-AUSTIN,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2001,5,"$96,707.33"
1070,TX,UT HEALTH CENTER-SAN ANTONIO,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2004,10,"$96,465.00"
1286,TX,UNIVERSITY OF TEXAS-AUSTIN,"BIOLOGY, GENERAL",Baccalaureate,2004,10,"$96,298.33"
1091,TX,UNIVERSITY OF TEXAS-AUSTIN,ARCHITECTURAL ENGINEERING,Baccalaureate,2001,10,"$96,035.33"
1048,TX,UNIVERSITY OF TEXAS-AUSTIN,PHYSICS,Baccalaureate,2004,10,"$95,980.67"
1167,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2004,1,"$95,726.00"
1124,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,CHEMISTRY,Baccalaureate,2004,10,"$95,725.00"
1096,TX,UNIVERSITY OF TEXAS - BROWNSVILLE,"REGISTERED NURSING, NURSING ADMINISTRATION, NU...",Baccalaureate,2004,1,"$95,656.33"
1121,TX,UNIVERSITY OF TEXAS AT DALLAS,"COMPUTER AND INFORMATION SCIENCES, GENERAL",Baccalaureate,2004,10,"$95,538.67"
1168,TX,UNIVERSITY OF TEXAS-AUSTIN,FINANCE AND FINANCIAL MANAGEMENT SERVICES,Baccalaureate,2001,5,"$94,664.00"
1130,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,CIVIL ENGINEERING,Baccalaureate,2004,10,"$94,584.67"
1151,TX,UNIVERSITY OF TEXAS-AUSTIN,MECHANICAL ENGINEERING,Baccalaureate,2007,5,"$94,404.00"
1064,TX,UNIV OF TEXAS MEDICAL BRANCH,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,5,"$94,372.33"
1106,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Baccalaureate,2004,10,"$93,966.33"
1116,TX,UNIVERSITY OF TEXAS-AUSTIN,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,5,"$93,745.00"
1373,TX,UNIVERSITY OF TEXAS-AUSTIN,MICROBIOLOGICAL SCIENCES AND IMMUNOLOGY,Baccalaureate,2001,10,"$93,515.67"
1111,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,MECHANICAL ENGINEERING,Baccalaureate,2004,10,"$93,504.67"
1162,TX,UNIVERSITY OF TEXAS-AUSTIN,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2007,5,"$93,441.67"
1261,TX,UNIVERSITY OF TEXAS-AUSTIN,"BIOCHEMISTRY, BIOPHYSICS AND MOLECULAR BIOLOGY",Baccalaureate,2004,10,"$93,225.00"
...,...,...,...,...,...,...,...
960,TX,UNIVERSITY OF TEXAS-AUSTIN,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2001,10,"$113,257.00"
160,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2007,5,"$112,724.33"
253,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2001,5,"$112,237.67"
237,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2004,5,"$111,863.67"
176,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,5,"$110,933.67"
217,TX,UNIVERSITY OF TEXAS-AUSTIN,MANAGEMENT INFORMATION SYSTEMS AND SERVICES,Baccalaureate,2001,10,"$110,180.33"
177,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,1,"$108,529.00"
948,TX,UNIVERSITY OF TEXAS-ARLINGTON,MECHANICAL ENGINEERING,Baccalaureate,2004,10,"$107,442.33"
1030,TX,UNIVERSITY OF TEXAS-AUSTIN,"BIOLOGY, GENERAL",Baccalaureate,2001,10,"$107,357.67"
268,TX,UNIVERSITY OF TEXAS-AUSTIN,CIVIL ENGINEERING,Baccalaureate,2004,10,"$106,983.00"
968,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,10,"$106,663.00"
1497,TX,UNIVERSITY OF TEXAS-AUSTIN,GEOLOGICAL AND EARTH SCIENCES/GEOSCIENCES,Baccalaureate,2004,10,"$106,118.33"
1080,TX,UNIVERSITY OF TEXAS-AUSTIN,GEOLOGICAL AND EARTH SCIENCES/GEOSCIENCES,Baccalaureate,2007,5,"$105,476.00"
1207,TX,UNIVERSITY OF TEXAS-AUSTIN,"BIOCHEMISTRY, BIOPHYSICS AND MOLECULAR BIOLOGY",Baccalaureate,2001,10,"$105,415.00"
1013,TX,UNIVERSITY OF TEXAS-AUSTIN,ECONOMICS,Baccalaureate,2004,10,"$105,002.33"
235,TX,UNIVERSITY OF TEXAS-AUSTIN,"AEROSPACE, AERONAUTICAL AND ASTRONAUTICAL ENGI...",Baccalaureate,2004,10,"$104,686.33"
941,TX,UNIVERSITY OF TEXAS-AUSTIN,"AEROSPACE, AERONAUTICAL AND ASTRONAUTICAL ENGI...",Baccalaureate,2001,10,"$104,356.67"
990,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,1,"$104,250.33"
946,TX,UNIVERSITY OF TEXAS-EL PASO,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$104,091.00"
959,TX,UNIVERSITY OF TEXAS-AUSTIN,ARCHITECTURAL ENGINEERING,Baccalaureate,2004,10,"$103,925.00"
979,TX,UNIVERSITY OF TEXAS AT DALLAS,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$103,569.67"
987,TX,UNIVERSITY OF TEXAS AT DALLAS,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2004,10,"$102,792.67"
269,TX,UNIVERSITY OF TEXAS-AUSTIN,CHEMICAL ENGINEERING,Baccalaureate,2007,5,"$102,682.67"
254,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,5,"$102,266.67"
1053,TX,UNIVERSITY OF TEXAS-AUSTIN,ECONOMICS,Baccalaureate,2001,10,"$101,770.33"
965,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2007,1,"$101,663.33"
940,TX,UNIVERSITY OF TEXAS-ARLINGTON,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$101,645.33"
983,TX,UNIVERSITY OF TEXAS-EL PASO,MECHANICAL ENGINEERING,Baccalaureate,2004,10,"$101,611.33"
263,TX,UNIV OF TEXAS MEDICAL BRANCH,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,10,"$101,505.67"
967,TX,UNIVERSITY OF TEXAS-ARLINGTON,COMPUTER ENGINEERING,Baccalaureate,2004,10,"$100,644.33"

In [54]:
new_index = tx_bachelor2_df.reset_index(drop=True)
new_index

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
0,TX,UNIVERSITY OF TEXAS-ARLINGTON,MECHANICAL ENGINEERING,Baccalaureate,2001,10,"$99,197.00"
1,TX,UNIVERSITY OF TEXAS-AUSTIN,"COMPUTER AND INFORMATION SCIENCES, GENERAL",Baccalaureate,2007,5,"$99,023.00"
2,TX,UNIVERSITY OF TEXAS-ARLINGTON,COMPUTER ENGINEERING,Baccalaureate,2001,10,"$98,988.33"
3,TX,UNIVERSITY OF TEXAS AT DALLAS,"BIOLOGY, GENERAL",Baccalaureate,2001,10,"$98,758.33"
4,TX,UNIVERSITY OF TEXAS-AUSTIN,MICROBIOLOGICAL SCIENCES AND IMMUNOLOGY,Baccalaureate,2004,10,"$98,428.33"
5,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$97,918.33"
6,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"COMPUTER AND INFORMATION SCIENCES, GENERAL",Baccalaureate,2004,10,"$97,651.33"
7,TX,UNIVERSITY OF TEXAS-AUSTIN,MARKETING,Baccalaureate,2004,10,"$97,239.67"
8,TX,UNIVERSITY OF TEXAS-ARLINGTON,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2004,10,"$97,096.00"
9,TX,UNIVERSITY OF TEXAS-AUSTIN,MANAGEMENT INFORMATION SYSTEMS AND SERVICES,Baccalaureate,2007,5,"$97,048.33"
10,TX,UNIVERSITY OF TEXAS - BROWNSVILLE,"REGISTERED NURSING, NURSING ADMINISTRATION, NU...",Baccalaureate,2001,5,"$96,880.67"
11,TX,UNIVERSITY OF TEXAS-AUSTIN,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2001,5,"$96,707.33"
12,TX,UT HEALTH CENTER-SAN ANTONIO,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2004,10,"$96,465.00"
13,TX,UNIVERSITY OF TEXAS-AUSTIN,"BIOLOGY, GENERAL",Baccalaureate,2004,10,"$96,298.33"
14,TX,UNIVERSITY OF TEXAS-AUSTIN,ARCHITECTURAL ENGINEERING,Baccalaureate,2001,10,"$96,035.33"
15,TX,UNIVERSITY OF TEXAS-AUSTIN,PHYSICS,Baccalaureate,2004,10,"$95,980.67"
16,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2004,1,"$95,726.00"
17,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,CHEMISTRY,Baccalaureate,2004,10,"$95,725.00"
18,TX,UNIVERSITY OF TEXAS - BROWNSVILLE,"REGISTERED NURSING, NURSING ADMINISTRATION, NU...",Baccalaureate,2004,1,"$95,656.33"
19,TX,UNIVERSITY OF TEXAS AT DALLAS,"COMPUTER AND INFORMATION SCIENCES, GENERAL",Baccalaureate,2004,10,"$95,538.67"
20,TX,UNIVERSITY OF TEXAS-AUSTIN,FINANCE AND FINANCIAL MANAGEMENT SERVICES,Baccalaureate,2001,5,"$94,664.00"
21,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,CIVIL ENGINEERING,Baccalaureate,2004,10,"$94,584.67"
22,TX,UNIVERSITY OF TEXAS-AUSTIN,MECHANICAL ENGINEERING,Baccalaureate,2007,5,"$94,404.00"
23,TX,UNIV OF TEXAS MEDICAL BRANCH,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,5,"$94,372.33"
24,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Baccalaureate,2004,10,"$93,966.33"
25,TX,UNIVERSITY OF TEXAS-AUSTIN,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,5,"$93,745.00"
26,TX,UNIVERSITY OF TEXAS-AUSTIN,MICROBIOLOGICAL SCIENCES AND IMMUNOLOGY,Baccalaureate,2001,10,"$93,515.67"
27,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,MECHANICAL ENGINEERING,Baccalaureate,2004,10,"$93,504.67"
28,TX,UNIVERSITY OF TEXAS-AUSTIN,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2007,5,"$93,441.67"
29,TX,UNIVERSITY OF TEXAS-AUSTIN,"BIOCHEMISTRY, BIOPHYSICS AND MOLECULAR BIOLOGY",Baccalaureate,2004,10,"$93,225.00"
...,...,...,...,...,...,...,...
2634,TX,UNIVERSITY OF TEXAS-AUSTIN,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2001,10,"$113,257.00"
2635,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2007,5,"$112,724.33"
2636,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2001,5,"$112,237.67"
2637,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2004,5,"$111,863.67"
2638,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,5,"$110,933.67"
2639,TX,UNIVERSITY OF TEXAS-AUSTIN,MANAGEMENT INFORMATION SYSTEMS AND SERVICES,Baccalaureate,2001,10,"$110,180.33"
2640,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,1,"$108,529.00"
2641,TX,UNIVERSITY OF TEXAS-ARLINGTON,MECHANICAL ENGINEERING,Baccalaureate,2004,10,"$107,442.33"
2642,TX,UNIVERSITY OF TEXAS-AUSTIN,"BIOLOGY, GENERAL",Baccalaureate,2001,10,"$107,357.67"
2643,TX,UNIVERSITY OF TEXAS-AUSTIN,CIVIL ENGINEERING,Baccalaureate,2004,10,"$106,983.00"
2644,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,10,"$106,663.00"
2645,TX,UNIVERSITY OF TEXAS-AUSTIN,GEOLOGICAL AND EARTH SCIENCES/GEOSCIENCES,Baccalaureate,2004,10,"$106,118.33"
2646,TX,UNIVERSITY OF TEXAS-AUSTIN,GEOLOGICAL AND EARTH SCIENCES/GEOSCIENCES,Baccalaureate,2007,5,"$105,476.00"
2647,TX,UNIVERSITY OF TEXAS-AUSTIN,"BIOCHEMISTRY, BIOPHYSICS AND MOLECULAR BIOLOGY",Baccalaureate,2001,10,"$105,415.00"
2648,TX,UNIVERSITY OF TEXAS-AUSTIN,ECONOMICS,Baccalaureate,2004,10,"$105,002.33"
2649,TX,UNIVERSITY OF TEXAS-AUSTIN,"AEROSPACE, AERONAUTICAL AND ASTRONAUTICAL ENGI...",Baccalaureate,2004,10,"$104,686.33"
2650,TX,UNIVERSITY OF TEXAS-AUSTIN,"AEROSPACE, AERONAUTICAL AND ASTRONAUTICAL ENGI...",Baccalaureate,2001,10,"$104,356.67"
2651,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,1,"$104,250.33"
2652,TX,UNIVERSITY OF TEXAS-EL PASO,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$104,091.00"
2653,TX,UNIVERSITY OF TEXAS-AUSTIN,ARCHITECTURAL ENGINEERING,Baccalaureate,2004,10,"$103,925.00"
2654,TX,UNIVERSITY OF TEXAS AT DALLAS,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$103,569.67"
2655,TX,UNIVERSITY OF TEXAS AT DALLAS,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2004,10,"$102,792.67"
2656,TX,UNIVERSITY OF TEXAS-AUSTIN,CHEMICAL ENGINEERING,Baccalaureate,2007,5,"$102,682.67"
2657,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,5,"$102,266.67"
2658,TX,UNIVERSITY OF TEXAS-AUSTIN,ECONOMICS,Baccalaureate,2001,10,"$101,770.33"
2659,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2007,1,"$101,663.33"
2660,TX,UNIVERSITY OF TEXAS-ARLINGTON,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$101,645.33"
2661,TX,UNIVERSITY OF TEXAS-EL PASO,MECHANICAL ENGINEERING,Baccalaureate,2004,10,"$101,611.33"
2662,TX,UNIV OF TEXAS MEDICAL BRANCH,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,10,"$101,505.67"
2663,TX,UNIVERSITY OF TEXAS-ARLINGTON,COMPUTER ENGINEERING,Baccalaureate,2004,10,"$100,644.33"

In [60]:
tx_bachelor_df = tx_bachelor_df.sort_values(["Program", "Average Earnings"], ascending=True)
tx_bachelor_df.head()

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
93,TX,UNIVERSITY OF TEXAS-AUSTIN,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2004,10,"$129,976.67"
77,TX,UNIVERSITY OF TEXAS-AUSTIN,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2001,10,"$136,081.00"
8486,TX,UNIVERSITY OF TEXAS - BROWNSVILLE,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2010,1,"$34,471.67"
8502,TX,UNIVERSITY OF TEXAS - BROWNSVILLE,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2004,1,"$36,044.67"
8250,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2010,1,"$37,051.33"

In [61]:
new_clean_df

TypeError: ('Could not convert $35,960.67 to numeric', 'occurred at index 1')