In [12]:
import pandas as pd
import numpy as np


graduate_csv = "graduate_earnings_all.csv"

graduate_df = pd.read_csv(graduate_csv)

In [3]:
graduate_df.head()

,institution_id,institution_name,deglevl_code,deglevl,degcip_4dig,ciptitle,grad_cohort,grad_cohort_label,year_postgrad,p25_earnings,p50_earnings,p75_earnings,cellcount,cell_suppressed,state,system,first_release,last_update,cpi_reportyear
0,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,1,NaN,NaN,NaN,NaN,1,CO,cdhe,8242018,8242018,2016
1,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,5,23108.0,34633.0,50141.0,73.0,0,CO,cdhe,8242018,8242018,2016
2,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,10,31990.0,41565.0,68312.0,65.0,0,CO,cdhe,8242018,8242018,2016
3,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,1,17794.0,25774.0,32213.0,46.0,0,CO,cdhe,8242018,8242018,2016
4,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,5,27763.0,36398.0,51928.0,79.0,0,CO,cdhe,8242018,8242018,2016

In [4]:
graduate_df.shape

(19958, 19)

In [5]:
reduced_graduate_df = graduate_df.loc[:, ["institution_name", "deglevl", "ciptitle","grad_cohort", "grad_cohort_label", "year_postgrad", "p25_earnings", "p50_earnings", "p75_earnings", "state"]]
reduced_graduate_df.head()

,institution_name,deglevl,ciptitle,grad_cohort,grad_cohort_label,year_postgrad,p25_earnings,p50_earnings,p75_earnings,state
0,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,1,NaN,NaN,NaN,CO
1,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,5,23108.0,34633.0,50141.0,CO
2,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,10,31990.0,41565.0,68312.0,CO
3,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,1,17794.0,25774.0,32213.0,CO
4,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,5,27763.0,36398.0,51928.0,CO

In [6]:
reduced_graduate_df = reduced_graduate_df.loc[(reduced_graduate_df["p25_earnings"] > 0)]
reduced_graduate_df.head(50)

,institution_name,deglevl,ciptitle,grad_cohort,grad_cohort_label,year_postgrad,p25_earnings,p50_earnings,p75_earnings,state
1,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,5,23108.0,34633.0,50141.0,CO
2,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,10,31990.0,41565.0,68312.0,CO
3,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,1,17794.0,25774.0,32213.0,CO
4,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,5,27763.0,36398.0,51928.0,CO
5,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,10,31012.0,43798.0,64121.0,CO
6,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2006,2006-2010,1,15288.0,22094.0,31857.0,CO
7,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2006,2006-2010,5,22329.0,31236.0,44914.0,CO
8,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2011,2011-2015,1,14923.0,20225.0,26616.0,CO
9,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2004,2004-2006,10,201545.0,319269.0,466933.0,TX
10,UNIV OF TEXAS SOUTHWESTERN MED CTR,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,176838.0,268316.0,441456.0,TX
11,UT HEALTH CENTER-SAN ANTONIO,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,174649.0,262250.0,438311.0,TX
12,UNIV OF TEXAS HEALTH SCIENCE CENTER,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,180018.0,260641.0,436473.0,TX
13,UNIV OF TEXAS MEDICAL BRANCH,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,158116.0,252560.0,429026.0,TX
14,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2001,2001-2003,10,167417.0,251390.0,426799.0,TX
15,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,2004,2004-2006,10,166798.0,240921.0,394521.0,CO
16,UNIVERSITY OF COLORADO DENVER,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,165766.0,239801.0,400809.0,CO
17,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,2001,2001-2003,10,142581.0,238227.0,404302.0,CO
18,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,1998,1998-2000,10,148663.0,212089.0,312778.0,CO
19,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2007,2007-2009,5,142964.0,182940.0,232783.0,TX
20,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2004,2004-2006,5,146581.0,182280.0,232915.0,TX
21,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,2004,2004-2006,5,142765.0,180976.0,229220.0,CO
22,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2011,2011-2015,1,140259.0,172991.0,210514.0,TX
23,UNIV OF TEXAS HEALTH SCIENCE CENTER,Doctoral - Professional Practice,MEDICINE,2006,2006-2010,5,100602.0,172506.0,245315.0,TX
24,UNIV OF TEXAS HEALTH SCIENCE CENTER,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,5,102814.0,170835.0,243670.0,TX
25,UNIV OF TEXAS MEDICAL BRANCH,Doctoral - Professional Practice,MEDICINE,2006,2006-2010,5,93773.0,169973.0,247327.0,TX
26,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2006,2006-2010,5,122038.0,167939.0,213208.0,TX
27,UT HEALTH CENTER-SAN ANTONIO,Doctoral - Professional Practice,DENTISTRY,2001,2001-2005,10,87499.0,166683.0,245848.0,TX
28,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,"BUSINESS/COMMERCE, GENERAL",2001,2001-2003,10,105529.0,162153.0,258860.0,TX
29,UNIVERSITY OF TEXAS-AUSTIN,Masters,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2001,2001-2005,10,109505.0,160558.0,241148.0,TX
30,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,"BUSINESS/COMMERCE, GENERAL",2004,2004-2006,10,109262.0,160481.0,309526.0,TX
31,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,2007,2007-2009,5,121098.0,159813.0,217057.0,CO
32,UT HEALTH CENTER-SAN ANTONIO,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,5,91129.0,159304.0,240135.0,TX
33,UNIVERSITY OF TEXAS-AUSTIN,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2001,2001-2005,10,115339.0,158779.0,224205.0,TX
34,UNIVERSITY OF TEXAS AT DALLAS,Doctoral - Research/Scholarship,ENGINEERING,2001,2001-2005,10,101964.0,157509.0,223678.0,TX
35,UNIV OF TEXAS SOUTHWESTERN MED CTR,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,5,84002.0,157339.0,234897.0,TX
36,UT HEALTH CENTER-SAN ANTONIO,Doctoral - Professional Practice,MEDICINE,2006,2006-2010,5,84284.0,154318.0,230366.0,TX
37,COLORADO SCHOOL OF MINES,Masters,PHYSICAL SCIENCES,2001,2001-2005,10,80669.0,154192.0,278981.0,CO
38,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2001,2001-2005,10,113850.0,153890.0,202922.0,TX
39,UNIV OF TEXAS MEDICAL BRANCH,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,5,88991.0,153794.0,222754.0,TX
40,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2006,2006-2010,1,112151.0,153426.0,200169.0,TX
41,UT HEALTH CENTER-SAN ANTONIO,Doctoral - Research/Scholarship,PHYSICAL SCIENCES,2006,2006-2010,5,71530.0,153086.0,188472.0,TX
42,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2011,2011-2015,1,102409.0,149547.0,215577.0,TX
43,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2006,2006-2010,5,121351.0,149017.0,234763.0,TX
44,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2001,2001-2003,5,114098.0,148663.0,198793.0,TX
45,UNIV OF TEXAS SOUTHWESTERN MED CTR,Doctoral - Professional Practice,MEDICINE,2006,2006-2010,5,86967.0,148012.0,225647.0,TX
46,UNIVERSITY OF TEXAS-AUSTIN,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2006,2006-2010,5,110353.0,147925.0,203874.0,TX
47,COLORADO STATE UNIVERSITY,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,1996,1996-2000,10,122038.0,146893.0,184757.0,CO
48,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2001,2001-2005,10,106421.0,146893.0,196729.0,TX
49,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Professional Practice,LAW,2006,2006-2010,1,75721.0,146846.0,193252.0,TX
50,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Professional Practice,LAW,2006,2006-2010,5,82798.0,146637.0,230267.0,TX

In [7]:
reduced_graduate_df.isnull().any()

institution_name     False
deglevl              False
ciptitle             False
grad_cohort          False
grad_cohort_label    False
year_postgrad        False
p25_earnings         False
p50_earnings         False
p75_earnings         False
state                False
dtype: bool

In [62]:
clean_df = reduced_graduate_df.rename(index=str, columns={"institution_name": "College/University", "deglevl": "Degree", "ciptitle": "Program", "grad_cohort": "Cohort", "year_postgrad": "Years Post Grad", "p25_earnings": "25th Percentile Earnings", "p50_earnings": "50th Percentile Earnings", "p75_earnings": "75th Percentile Earnings", "state": "State"})

In [63]:
clean_df['Average Earnings'] = clean_df[["25th Percentile Earnings", "50th Percentile Earnings", "75th Percentile Earnings"]].apply(np.mean, axis=1)
clean_df.head()

new_clean_df = clean_df.loc[:, ["State", "College/University", "Program", "Degree", "Cohort", "Years Post Grad", "Average Earnings"]]
new_clean_df

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
1,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,1996,5,35960.666667
2,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,1996,10,47289.000000
3,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2001,1,25260.333333
4,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2001,5,38696.333333
5,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2001,10,46310.333333
6,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2006,1,23079.666667
7,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2006,5,32826.333333
8,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2011,1,20588.000000
9,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,10,329249.000000
10,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,MEDICINE,Doctoral - Professional Practice,2001,10,295536.666667
11,TX,UT HEALTH CENTER-SAN ANTONIO,MEDICINE,Doctoral - Professional Practice,2001,10,291736.666667
12,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,MEDICINE,Doctoral - Professional Practice,2001,10,292377.333333
13,TX,UNIV OF TEXAS MEDICAL BRANCH,MEDICINE,Doctoral - Professional Practice,2001,10,279900.666667
14,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2001,10,281868.666667
15,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2004,10,267413.333333
16,CO,UNIVERSITY OF COLORADO DENVER,MEDICINE,Doctoral - Professional Practice,2001,10,268792.000000
17,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2001,10,261703.333333
18,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,1998,10,224510.000000
19,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2007,5,186229.000000
20,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,5,187258.666667
21,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2004,5,184320.333333
22,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Doctoral - Research/Scholarship,2011,1,174588.000000
23,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,MEDICINE,Doctoral - Professional Practice,2006,5,172807.666667
24,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,MEDICINE,Doctoral - Professional Practice,2001,5,172439.666667
25,TX,UNIV OF TEXAS MEDICAL BRANCH,MEDICINE,Doctoral - Professional Practice,2006,5,170357.666667
26,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Doctoral - Research/Scholarship,2006,5,167728.333333
27,TX,UT HEALTH CENTER-SAN ANTONIO,DENTISTRY,Doctoral - Professional Practice,2001,10,166676.666667
28,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2001,10,175514.000000
29,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Masters,2001,10,170403.666667
30,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2004,10,193089.666667
...,...,...,...,...,...,...,...
19472,CO,COMMUNITY COLLEGE OF AURORA,"SCIENCE TECHNOLOGIES/TECHNICIANS, OTHER",Associates,2001,1,36866.333333
19473,CO,COMMUNITY COLLEGE OF AURORA,"SCIENCE TECHNOLOGIES/TECHNICIANS, OTHER",Associates,2001,5,43067.000000
19474,CO,COMMUNITY COLLEGE OF AURORA,"SCIENCE TECHNOLOGIES/TECHNICIANS, OTHER",Associates,2001,10,50279.333333
19475,CO,COMMUNITY COLLEGE OF AURORA,"SCIENCE TECHNOLOGIES/TECHNICIANS, OTHER",Associates,2006,1,37208.333333
19476,CO,COMMUNITY COLLEGE OF AURORA,"SCIENCE TECHNOLOGIES/TECHNICIANS, OTHER",Associates,2006,5,45549.666667
19477,CO,COMMUNITY COLLEGE OF AURORA,"SCIENCE TECHNOLOGIES/TECHNICIANS, OTHER",Associates,2011,1,35322.666667
19479,CO,COMMUNITY COLLEGE OF AURORA,CRIMINAL JUSTICE AND CORRECTIONS,Associates,1996,5,52041.333333
19480,CO,COMMUNITY COLLEGE OF AURORA,CRIMINAL JUSTICE AND CORRECTIONS,Associates,1996,10,49245.333333
19481,CO,COMMUNITY COLLEGE OF AURORA,CRIMINAL JUSTICE AND CORRECTIONS,Associates,2001,1,50270.666667
19482,CO,COMMUNITY COLLEGE OF AURORA,CRIMINAL JUSTICE AND CORRECTIONS,Associates,2001,5,42762.666667
19486,CO,COMMUNITY COLLEGE OF AURORA,CRIMINAL JUSTICE AND CORRECTIONS,Associates,2011,1,45646.333333
19497,CO,COMMUNITY COLLEGE OF AURORA,HEAVY/INDUSTRIAL EQUIPMENT MAINTENANCE TECHNOL...,Associates,2001,5,54689.333333
19499,CO,COMMUNITY COLLEGE OF AURORA,HEAVY/INDUSTRIAL EQUIPMENT MAINTENANCE TECHNOL...,Associates,2006,1,38303.333333
19500,CO,COMMUNITY COLLEGE OF AURORA,HEAVY/INDUSTRIAL EQUIPMENT MAINTENANCE TECHNOL...,Associates,2006,5,51452.666667
19513,CO,COMMUNITY COLLEGE OF AURORA,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Associates,1996,5,52834.000000
19514,CO,COMMUNITY COLLEGE OF AURORA,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Associates,1996,10,49133.000000
19515,CO,COMMUNITY COLLEGE OF AURORA,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Associates,2001,1,41370.000000
19516,CO,COMMUNITY COLLEGE OF AURORA,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Associates,2001,5,42139.000000
19517,CO,COMMUNITY COLLEGE OF AURORA,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Associates,2001,10,48683.000000
19518,CO,COMMUNITY COLLEGE OF AURORA,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Associates,2006,1,42963.333333
19519,CO,COMMUNITY COLLEGE OF AURORA,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Associates,2006,5,49422.333333
19520,CO,COMMUNITY COLLEGE OF AURORA,"BUSINESS ADMINISTRATION, MANAGEMENT AND OPERAT...",Associates,2011,1,42867.000000
19524,CO,COMMUNITY COLLEGE OF AURORA,ACCOUNTING AND RELATED SERVICES,Associates,2001,1,38460.666667
19525,CO,COMMUNITY COLLEGE OF AURORA,ACCOUNTING AND RELATED SERVICES,Associates,2001,5,41588.000000
19526,CO,COMMUNITY COLLEGE OF AURORA,ACCOUNTING AND RELATED SERVICES,Associates,2001,10,45924.666667
19527,CO,COMMUNITY COLLEGE OF AURORA,ACCOUNTING AND RELATED SERVICES,Associates,2006,1,45509.666667
19533,CO,COMMUNITY COLLEGE OF AURORA,MANAGEMENT INFORMATION SYSTEMS AND SERVICES,Associates,2001,1,42217.000000
19534,CO,COMMUNITY COLLEGE OF AURORA,MANAGEMENT INFORMATION SYSTEMS AND SERVICES,Associates,2001,5,47986.000000
19535,CO,COMMUNITY COLLEGE OF AURORA,MANAGEMENT INFORMATION SYSTEMS AND SERVICES,Associates,2001,10,56709.666667
19537,CO,COMMUNITY COLLEGE OF AURORA,MANAGEMENT INFORMATION SYSTEMS AND SERVICES,Associates,2006,5,48867.666667

In [65]:
bachelor_df = new_clean_df.loc[(new_clean_df["Degree"]=="Baccalaureate")]
bachelor_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
9,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,10,329249.000000
14,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2001,10,281868.666667
15,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2004,10,267413.333333
17,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2001,10,261703.333333
18,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,1998,10,224510.000000
19,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2007,5,186229.000000

In [66]:
tx_bachelor_df = bachelor_df.loc[(clean_df["State"]=="TX")]
tx_bachelor_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
9,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,10,329249.000000
14,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2001,10,281868.666667
19,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2007,5,186229.000000
20,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,5,187258.666667
28,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2001,10,175514.000000
30,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2004,10,193089.666667

In [67]:
co_bachelor_df = bachelor_df.loc[(clean_df["State"]=="CO")]
co_bachelor_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
15,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2004,10,267413.333333
17,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2001,10,261703.333333
18,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,1998,10,224510.000000
21,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2004,5,184320.333333
31,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2007,5,165989.333333
58,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2001,5,149085.666667

In [68]:
masters_df = clean_df.loc[(clean_df["Degree"]=="Masters")]
masters_df.head(6)

,College/University,Degree,Program,Cohort,grad_cohort_label,Years Post Grad,25th Percentile Earnings,50th Percentile Earnings,75th Percentile Earnings,State,Average Earnings
29,UNIVERSITY OF TEXAS-AUSTIN,Masters,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2001,2001-2005,10,109505.0,160558.0,241148.0,TX,170403.666667
33,UNIVERSITY OF TEXAS-AUSTIN,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2001,2001-2005,10,115339.0,158779.0,224205.0,TX,166107.666667
37,COLORADO SCHOOL OF MINES,Masters,PHYSICAL SCIENCES,2001,2001-2005,10,80669.0,154192.0,278981.0,CO,171280.666667
46,UNIVERSITY OF TEXAS-AUSTIN,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2006,2006-2010,5,110353.0,147925.0,203874.0,TX,154050.666667
47,COLORADO STATE UNIVERSITY,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,1996,1996-2000,10,122038.0,146893.0,184757.0,CO,151229.333333
63,COLORADO SCHOOL OF MINES,Masters,SOCIAL SCIENCES,2001,2001-2005,10,93076.0,138553.0,193712.0,CO,141780.333333

In [69]:
tx_masters_df = masters_df.loc[(clean_df["State"]=="TX")]
tx_masters_df.head(6)

,College/University,Degree,Program,Cohort,grad_cohort_label,Years Post Grad,25th Percentile Earnings,50th Percentile Earnings,75th Percentile Earnings,State,Average Earnings
29,UNIVERSITY OF TEXAS-AUSTIN,Masters,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2001,2001-2005,10,109505.0,160558.0,241148.0,TX,170403.666667
33,UNIVERSITY OF TEXAS-AUSTIN,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2001,2001-2005,10,115339.0,158779.0,224205.0,TX,166107.666667
46,UNIVERSITY OF TEXAS-AUSTIN,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2006,2006-2010,5,110353.0,147925.0,203874.0,TX,154050.666667
66,UNIVERSITY OF TEXAS-AUSTIN,Masters,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2006,2006-2010,5,94790.0,134111.0,196784.0,TX,141895.000000
72,UNIVERSITY OF TEXAS-AUSTIN,Masters,ENGINEERING,2001,2001-2005,10,99449.0,132844.0,183026.0,TX,138439.666667
78,UNIVERSITY OF TEXAS AT DALLAS,Masters,ENGINEERING,2001,2001-2005,10,97477.0,129311.0,171171.0,TX,132653.000000

In [70]:
co_masters_df = masters_df.loc[(clean_df["State"]=="CO")]
co_masters_df.head(6)

,College/University,Degree,Program,Cohort,grad_cohort_label,Years Post Grad,25th Percentile Earnings,50th Percentile Earnings,75th Percentile Earnings,State,Average Earnings
37,COLORADO SCHOOL OF MINES,Masters,PHYSICAL SCIENCES,2001,2001-2005,10,80669.0,154192.0,278981.0,CO,171280.666667
47,COLORADO STATE UNIVERSITY,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,1996,1996-2000,10,122038.0,146893.0,184757.0,CO,151229.333333
63,COLORADO SCHOOL OF MINES,Masters,SOCIAL SCIENCES,2001,2001-2005,10,93076.0,138553.0,193712.0,CO,141780.333333
64,UNIVERSITY OF COLORADO DENVER,Masters,HEALTH PROFESSIONS AND RELATED PROGRAMS,1996,1996-2000,10,93923.0,136278.0,219367.0,CO,149856.000000
68,COLORADO SCHOOL OF MINES,Masters,PHYSICAL SCIENCES,1996,1996-2000,10,87973.0,133624.0,194665.0,CO,138754.000000
79,UNIVERSITY OF COLORADO-BOULDER,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2001,2001-2005,10,97071.0,128640.0,186587.0,CO,137432.666667

In [71]:
doctoral_df = clean_df.loc[(clean_df["Degree"].str.contains("Doctoral"))]
doctoral_df.head(6)

,College/University,Degree,Program,Cohort,grad_cohort_label,Years Post Grad,25th Percentile Earnings,50th Percentile Earnings,75th Percentile Earnings,State,Average Earnings
10,UNIV OF TEXAS SOUTHWESTERN MED CTR,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,176838.0,268316.0,441456.0,TX,295536.666667
11,UT HEALTH CENTER-SAN ANTONIO,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,174649.0,262250.0,438311.0,TX,291736.666667
12,UNIV OF TEXAS HEALTH SCIENCE CENTER,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,180018.0,260641.0,436473.0,TX,292377.333333
13,UNIV OF TEXAS MEDICAL BRANCH,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,158116.0,252560.0,429026.0,TX,279900.666667
16,UNIVERSITY OF COLORADO DENVER,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,165766.0,239801.0,400809.0,CO,268792.000000
22,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2011,2011-2015,1,140259.0,172991.0,210514.0,TX,174588.000000

In [72]:
tx_doctoral_df = doctoral_df.loc[(clean_df["State"]=="TX")]
tx_doctoral_df.head(6)

,College/University,Degree,Program,Cohort,grad_cohort_label,Years Post Grad,25th Percentile Earnings,50th Percentile Earnings,75th Percentile Earnings,State,Average Earnings
10,UNIV OF TEXAS SOUTHWESTERN MED CTR,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,176838.0,268316.0,441456.0,TX,295536.666667
11,UT HEALTH CENTER-SAN ANTONIO,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,174649.0,262250.0,438311.0,TX,291736.666667
12,UNIV OF TEXAS HEALTH SCIENCE CENTER,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,180018.0,260641.0,436473.0,TX,292377.333333
13,UNIV OF TEXAS MEDICAL BRANCH,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,158116.0,252560.0,429026.0,TX,279900.666667
22,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2011,2011-2015,1,140259.0,172991.0,210514.0,TX,174588.000000
23,UNIV OF TEXAS HEALTH SCIENCE CENTER,Doctoral - Professional Practice,MEDICINE,2006,2006-2010,5,100602.0,172506.0,245315.0,TX,172807.666667

In [73]:
co_doctoral_df = doctoral_df.loc[(clean_df["State"]=="CO")]
co_doctoral_df.head(6)

,College/University,Degree,Program,Cohort,grad_cohort_label,Years Post Grad,25th Percentile Earnings,50th Percentile Earnings,75th Percentile Earnings,State,Average Earnings
16,UNIVERSITY OF COLORADO DENVER,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,165766.0,239801.0,400809.0,CO,268792.000000
51,UNIVERSITY OF COLORADO-BOULDER,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2001,2001-2005,10,110878.0,146135.0,202096.0,CO,153036.333333
56,UNIVERSITY OF COLORADO DENVER,Doctoral - Professional Practice,MEDICINE,2006,2006-2010,5,76685.0,142028.0,213124.0,CO,143945.666667
61,UNIVERSITY OF COLORADO-BOULDER,Doctoral - Research/Scholarship,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2006,2006-2010,5,117228.0,139816.0,201545.0,CO,152863.000000
62,UNIVERSITY OF COLORADO-BOULDER,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2006,2006-2010,5,120363.0,139414.0,164940.0,CO,141572.333333
65,UNIVERSITY OF COLORADO DENVER,Doctoral - Professional Practice,DENTISTRY,2001,2001-2005,10,104415.0,134287.0,199619.0,CO,146107.000000